[submodule ".todo.actions.d/xp"]
	path = .todo.actions.d/xp
	url = https://github.com/gr0undzer0/xp
[submodule ".todo.actions.d/invalid"]
	path = .todo.actions.d/invalid
	url = git@github.com:juliendelplanque/invalid.git
